---
page_title: "Wiz Provider"
description: |-
  Terraform provider to manage Wiz resources
---

# {{.ProviderName}}

The Wiz Terraform provider is designed to work with [Wiz](https://wiz.io/). 

The "wiz" provider manages resources typically manually managed in the [Wiz web interface](https://app.wiz.io/).  You must configure the provider with the proper credentials before you can use it.

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

> **WARNING** Hard-coded credentials are not recommended in any Terraform configuration and risks secret leakage should this file ever be committed to a public version control system.


{{ .SchemaMarkdown | trimspace }}
